@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Source+Code+Pro:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;

}

.sidebar {
    position: absolute;
    background-color: rgb(92, 89, 89);
    
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;


}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0;

}
.sidebar nav li a {
    text-decoration: none;
    color: yellow
    
}

.main {
    /* background-color: yellow; */
    width: 90vw;
    

}

.container {
    display: flex;
}

.infocontainer {
     /* background-color: rgb(255, 0, 208);  */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex ;
    justify-content: space-around;


}
.devinfo {
    font-size: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;

}
.hello{
    font-size: 3em;
}
.name{
    font-size: 3em;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;

}
.about{
    font-size: 3em;
}
.moreabout{
    font-size: 2em;
    margin-top: 23px;
    font-family: 'Fira Sans', sans-serif;
}
.buttons{
    margin-top: 34px;
}


.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;

}
.btn-sm{
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0;
}
.btn:hover{
    background-color: white;
    color: dodgerblue;
}
.ankitpic img{
    height: 58vh;
    
}
.contactform {
    padding: 0 34px; 
    padding-top: 144px;
    font-family: 'Fira Sans', sans-serif;
    margin: 0 88px;
    
    

}
.contactform h1{
    
    font-family: 'Source Code Pro', monospace;
    padding: 12px 0;

}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div input{
    width: 26vw;
    border-radius: 5px;
    margin:6px 0 0 0;
    padding: 3px;
}
.contactform form{
    margin: 0 40px;
}
#emailHelp{

    font-size: 11px;
    color: rgb(125, 30, 149);
    margin: 3px 0 0 0;
    padding: 3px;
}
#form-check
{
    flex-direction: row;
}
#form-check input{
    width: 24px;
    margin: 3px 0;
}
.blogItem {
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;

}
.blogcontainer{
    margin: 88px 88px;
}
h1{
    font-family: 'Fira Sans', sans-serif;
    margin: 23px;
    

}
 p{
    font-family: 'Source Code Pro', monospace;

}
.intro{
    margin: 10px 88px;
}
.intro h2{
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;

}
.intro p{
    font-family: 'Source Code Pro', monospace;
    margin: 12px;

}
.skillcontainer{
    padding: 12px;
}
.skillitem{
display: flex;
align-items: center;
font-family: 'Source Code Pro', monospace;
font-weight: 900;
}
.skill{
    width: 265px;
    height: 6px;
    background-color: red;
    border: 2px solid black;
}
.hundred{
    width: 265px;
    background-color: blueviolet;
}
.fifty{
    width: 125px;
    background-color: aqua;
}
.t5{
    width: 75px;
    background-color: yellow;
}
.sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute;
}
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.ham{
    margin-top: 10px;
    margin-top: 10px;

}
.cross{
    margin-left: 185px;
    margin-top: 10px;
}

 @media (max-width: 1615px) {
*{
   
    /* background-color: rgb(176, 79, 79);  */
}
.devinfo{
    font-size: 10px;

}


.intro, .blogcontainer, .contactform{
    margin: 50px 8px;
}}